api-gateway/node_modules
api-gateway/.env
api-gateway/logs

auth_service/node_modules
auth_service/.env
auth_service/logs

notification_service/node_modules
notification_service/.env
notification_service/logs


payment_service/node_modules
payment_service/.env
payment_service/logs

course_service/node_modules
course_service/node_modules
course_service/.env

chat_service/.env
chat_service/logs
chat_service/logs



