api-gateway/node_modules
api-gateway/.env
api-gateway/logs
api-gateway/dist

auth_service/node_modules
auth_service/.env
auth_service/logs
auth_service/dist

notification_service/node_modules
notification_service/.env
notification_service/logs
notification_service/dist


payment_service/node_modules
payment_service/.env
payment_service/logs

course_service/node_modules
course_service/dist
course_service/.env
course_service/logs

chat_service/.env
chat_service/logs
chat_service/dist
chat_service/node_modules



